/****** Debugging CSS ******/
/* * {
    outline: 1px solid red;
} */
.debug-red {
    border: 2px solid red;
}

.debug-blue {
    border: 2px solid blue;
}


/****** Default color styling for page ******/
html,
body {
    background-color: rgb(17,17,17);
    /* Code below fixes scroll bounce while maintaining pull to refresh
    /* on mobile versions of chrome */
    overflow-y: auto;
    overflow-x: hidden;


     /* Temporary solution to disable IOS double tap zoom on the gallery */
     /* scrollbar. Need to figure out how to disable it just on that element */
    touch-action: manipulation;

    /* Fixes overscroll behavior in desktop Safari */
    position: fixed;
    height: 100%;
    width: 100%;
    /* End fixes overscroll behavior in desktop Safari */

    /* Hide scroller for the 3 people still using IE */
    -ms-overflow-style: none;
}


footer, nav {
    background-color: transparent !important;
}

/****** Body styling ******/
body {
    margin: 0;
    /* baseline EM size */
    font-size: 16px;
    /* Code below fixes scroll bounce while maintaining pull to refresh
    /* on mobile versions of chrome */
    /* overflow-y: hidden; */
}

/** FACT:
/** The average lifespan of a Quokka is 10 years.
**/

/** Navigation link styling **/
a {
    color: rgb(255, 255, 255); 
    text-decoration: none; /* Remove default styling for links */
}

a:hover {
     cursor: pointer; /* Default - change cursor to pointer on link hover */
    /* -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: .8; Change opacity of links on hover */
}

/* Remove outline if we hover a link that has one (usually only if tabbed on a link) */
a:hover, a:active {
    outline: none; 
}

/* reset default padding and margins to 0 for cross browser compatibility */
ul {
    margin: 0;
    padding: 0;
}

/****** Heading Styling ******/

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700; 
    font-style: normal;
    text-transform: none; 
    letter-spacing: 0px;
    color: rgb(255,255,255);
}

h1 a, h2 a, h3 a {
    color: rgb(255,255,255);
}

/****** Paragraph styling ******/
p {
    font-family: 'Roboto' arial;
    font-size: 16px;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0px;
    color: rgb(255,255,255);
    padding: 0;
    margin: 0;
}


/****** Class Selectors ******/

.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Using 90% width to match body-container because .header has absolute positioning */
    padding-top: .8rem;
    max-width: 100%;    
    max-height: 100vh;
    justify-content: space-between;
    /* For sticky header */
    position: fixed;
    top: 0;
    z-index: 4;
    background-color: transparent;
}


.logo {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-style: normal;
    font-family: 'Breve Title Medium', 'Roboto', sans-serif;
    text-transform: capitalize;
    line-height: 1em;
    color: rgb(255,255,255);
    white-space: nowrap;
    margin: 0 0 0 1rem;
}

.logo a {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.desktop-nav {
    margin-right: 1.5rem;
}

/*Styling for main nav links */
.desktop-nav a {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1.18px;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    line-height: 1.5em;
    display: block;
    padding-left: 2.5rem; 
    color: rgb(255,255,255);
}

/* Underline nav links on hover */
.desktop-nav a:hover {
    text-decoration: underline;
}

/* .nav-list is the list styling for .desktop-nav */
/* By default do not display desktop-nav          */
.nav-list {
    display: none;
}

.nav-list img {
    width: 1.5rem;
    height: 1.5rem;

}

a.target-burger {
    margin-right: 1.8rem;
    width: 3.25em;
    height: 3.25em;
    position: relative;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
 }

a.target-burger.toggled ul.buns li.bun {
    -webkit-transform: rotate(45deg) translateZ(0);
    transform: rotate(45deg) translateZ(0);
}

a.target-burger.toggled ul.buns li.bun:last-child {
    -webkit-transform: rotate(-45deg) translateZ(0);
    transform: rotate(-45deg) translateZ(0);
}

a.target-burger ul.buns {
    width: 1.625em;
    height: 1.625em;
    list-style: none;
    margin-top: -0.5em;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: -webkit-transform 600ms cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 600ms cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #fff;
}

a.target-burger ul.buns li.bun {
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -.25em;
    -webkit-transform: translateY(-3.75px) translateZ(0);
    transform: translateY(-3.75px) translateZ(0);
    -webkit-transition: -webkit-transform 600ms cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 600ms cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
}

a.target-burger ul.buns li.bun:last-child {
    -webkit-transform: translateY(3.75px) translateZ(0);
    transform: translateY(3.75px) translateZ(0);
}

/* The side navigation menu */
.mobile-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden; /* initially hide mobile nav - change with JS */
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    height: 0; /* 0 Initial height - change with JS */
    width: 100%; /* 100% Full-weidth */
    position: fixed; /* Stay in place */
    z-index: 3; /* Stay on top of z-index */
    top: 0; /* Stay at the top */
    background-color: rgb(17,17,17); /* Black*/
    overflow: hidden;
    transition: 600ms; /* 0.5 second transition effect to slide in the top nav */
    padding: 0 0;  /* INVESTIGATE WHY THIS IS NECESSARY */
}

/* About me text in the mobile nav menu */
.mobile-nav p {
    font-size: .86rem;
    line-height: 1.2em;
    color: rgb(255,255,255);
    flex-shrink: 0; /* Necessary for IE to not overlap other items in menu onto about me section */
    display: block;
    padding-top: 7rem;
    padding-bottom: 1rem;
    width: 90%;
    margin-left: 1rem;
}

/* The navigation menu links */
.mobile-nav a {
    text-decoration: none;
    color: rgb(255,255,255);
    display: inline-block;
    transition: 0.3s;
    margin-left: 1rem;
}

/* Underline mobile menu nav links on hover */
.mobile-nav a:hover {
    text-decoration: underline;
} 

.mobile-nav h2 {
    font-size: 1.2em;
    color: rgb(255,255,255);
    display: block;
    transition: 0.3s;
    padding: 1.5rem 0 1rem 0;
    margin: 0;
    flex-shrink: 0;

}

#featured-gallery { 
    position: absolute;
    top: 0; 
    left: 0;
    height: 80%;
    width: 100%;
    overflow: hidden;
    /* 0 line-height so that button and gallery title don't overlap */
    line-height: 0;
}

/* Linear gradient to cover featured gallery image */
#featured-gallery:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.4+0,0+30,0+55,0.4+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 55%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(30%,rgba(0,0,0,0)), color-stop(55%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.4) 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.4) 100%); /* IE10 preview */
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
  z-index: 1;
}


#featured-gallery-image { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    position: absolute;
    margin: auto;
    overflow: hidden;
}


#view-featured-gallery-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;

    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-content: flex-start;
    /* Prevent the container from overflowing the page     */
    /* as this causes issue with scrollbar appearing in IE */
    width: calc(100% - 1rem);
    position: relative;
    top: 65%;
    left: 1rem;
    line-height: normal;
    z-index: 2;
    height: 20rem;
}

#featured-gallery-title {
    font-family: 'roboto', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0px;
    color: white;
    margin: 0;
    padding-bottom: 1rem;

}

#view-gallery-btn {
    border: 2px solid white;
    border-radius: 2px;
    width: 9.5em;
    height: 2.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-content: center;
}

#view-gallery-btn-inner {
    font-size: .9rem;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
}

/* Change opacity when hovering over view gallery button */
#view-gallery-btn:hover {
    opacity: .8;
}

#gallery-nav-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    max-width: 100%;
    min-height: 9rem;
    overflow-x: auto;
    overflow-y: hidden;
    /* Gotta get rid of default IE line-height otherwise scroll nav is buggy in IE */
    line-height: 0;
    background-color: rgb(255,255,255);
    z-index: 2;
    padding-bottom: 1.4rem;
   
    /* For WebKit implementations, provide inertia scrolling */
    -webkit-overflow-scrolling: touch; 
}

/* Do not display scrollbar */
#gallery-nav-container::-webkit-scrollbar {
    display: none;
}

/* FACT: 
* Quokkas survive on leaves and grass, but they don’t actually chew their food – they simply
* rip out vegetation, stuff it into their mouths, and swallow. This isn’t a good way of breaking 
* down food, nor an efficient way of extracting nutrients from it. So, quokkas have a unique solution – they’ll 
* regurgitate their food and eat it again. Since the cud they regurgitate is a lot more processed, their digestive 
* systems can better extract the vital nutrients from it the second time around.
*/

.gallery-nav-item {
    /* relative position is necessary to prevent flex-items from overlapping */
    /* on window resize */
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    width: auto;
    min-width: 10rem;
    height: 100%;
    padding-top: .6rem;
    padding-left: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;  
}

.gallery-nav-item a {
    display: block;
    width: 100%;
    height: 100%;
}

.gallery-nav-item:last-child {
    padding-right: 1rem;
}

.gallery-nav-item:hover {
    opacity: .8;
}

.gallery-title {
    flex: 1 0 20%;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(0,0,0);
    cursor: pointer;
    text-align: center;
}

.gallery-nav-item img {
    flex: 1 0 80%;
    height: 80%;
    min-height: 0;
    width: auto;
    max-width: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    cursor: pointer;
}

/****** CSS for about.html ******/

.about-container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
}

.about-container-left {

    width: 100%;
    padding-bottom: 1.5rem;
}

.about-container-left h3 {
    font-size: 1.4rem;
    font-weight: 500;
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 1rem;

}

.about-container-left p {
    font-size: .86rem;
    width: 100%;
}


.about-container-right {
    padding-bottom: 1rem;
    width: 100%;
    max-width: 50rem;
}

.about-container-right img {
    object-fit: cover;
    font-family: 'object-fit: cover;';
    width: 100%;
}

/****** CSS for Gallery Pages ******/
.gallery-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#aniimated-thumbnails {
    width: 100%;
    height: 100%;
}

.gallery-container h3 {
    font-size: 1.6rem;
    font-weight: 500;
    padding-top: 3.8rem;
    padding-bottom: .5rem;
}


.gallery-container figure {
    /* reset margin and padding for figures */
    margin: 0;
    padding: 0;
}

.gallery-container img{
    width: 100%;
}

.image-caption {
    font-family: 'Roboto' arial;
    font-size: .86rem;
    color: rgb(255,255,255);
    padding: 1rem 1rem 2rem;
    margin: 0 auto;
}

/****** Mobile Landscape Orientation Media Queries ******/

@media only screen and (orientation:landscape) {
    
    #view-featured-gallery-container {
        top: 40%;
    }
    #featured-gallery-title {
        font-size: 2rem;
    }
    
    #view-gallery-btn {
        width: 9rem;
    }
    
    #view-gallery-btn-inner {
        font-size: 1em;
    }

    #featured-gallery-image { 
        object-position: bottom;
        font-family: 'object-fit: cover; object-position: bottom;';
    }
 }

 @media only screen and (orientation:landscape) and (min-device-width: 715px) {
    
    #view-featured-gallery-container {
        top: 65%;
    }
}

/* Remove bottom padding from gallery nav bar on mobile (on desktop link path preview can cover gallery nav titles) */
@media only screen {
    #gallery-nav-container {
        padding-bottom: .5rem;
    }
}

@media (min-width: 768px) {
    .header {
        padding-top: 2.2rem;
        padding-bottom: 1rem;
    }
    /* Show desktop nav */
    .desktop-nav {
        display: block;
        padding-right: 1.2rem;
    }

    /* Style the desktop nav */
    .nav-list {
        list-style:none!important;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    /* Remove mobile nav hamburger menu */
    a.target-burger,
    ul.buns,
    li.bun {
        display: none;
    }

    .logo {
        font-size: 1.7rem;
        margin: 0 0 0 2.2rem;
    }

    #view-featured-gallery-container {
        /* Prevent the container from overflowing the page     */
        /* as this causes issue with scrollbar appearing in IE */
        width: calc(100% - 2.2rem);
        left: 2.2rem;
        top: 70%;
    }
    #featured-gallery-title {
        font-size: 3rem;
    }

    /****** About page media queries ******/
    .about-container {
        margin-top: 5rem;
    }
    
    .about-container-left {
        padding-bottom: 2.5rem;
    }
    
    .about-container-left h3 {
        font-size: 1.6rem;
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    
    }
    
    .about-container-left p {
        font-size: 1rem;
    }
    
    
    .about-container-right {
        padding-bottom: 2rem;
    }
    

}

@media (min-width: 1023px) {

    .desktop-nav {
        padding-right: 2.5rem;
    }

    .desktop-nav a {
        font-size: 1.4rem;
        padding-left: 2rem;
    }

    .nav-list img {
        width: 1.8rem;
        height: 1.8rem;
    
    }

    .logo {
        font-size: 2rem;
        margin: 0 0 0 2.4rem;
    }

    #view-featured-gallery-container {
        /* Prevent the container from overflowing the page     */
        /* as this causes issue with scrollbar appearing in IE */
        width: calc(100% - 3.4rem);
        left: 3.4rem;
    }

    #featured-gallery-title {
        font-size: 3.4rem;
        padding-bottom: 1.2rem;
    }
    
    #view-gallery-btn {
        width: 12rem;
        height: 3.3rem;
    }

    #view-gallery-btn-inner {
        font-size: 1.2rem;

    }
    
    .gallery-title {
        font-size: .9rem;
    }

    #featured-gallery-image { 
        object-position: 100% 70%;
        font-family: 'object-fit: cover; object-position: 100% 70%;';
    }

    /****** About page media queries ******/
    .about-container {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin-top: 10rem;
    }

    .about-container-left {
        padding-bottom: 0;
        margin-top: 4rem;
        margin-right: 2.8rem;
    }

    .about-container-left h3 {
        font-size: 1.7rem;
        padding-top: 2rem;
        padding-bottom: 1.6rem;

    }

    .about-container-left p {
        font-size: 1.1rem;
    }

    .about-container-right {
        padding-bottom: 0;
    }
}

@media (min-width: 1500px) {

    .desktop-nav {
        padding-right: 5rem;
    }

    .desktop-nav a {
        font-size: 1.5rem;
        padding-left: 4rem;
    }
    .logo {
        font-size: 2.2rem;
        margin: 0 0 0 4.5rem;
    }

    #view-featured-gallery-container {
        /* Prevent the container from overflowing the page     */
        /* as this causes issue with scrollbar appearing in IE */
        width: calc(100% - 4.5rem);
        left: 4.5rem;
    }
    #featured-gallery-title {
        font-size: 4.5rem;
        padding-bottom: 1.8rem;
    }

    .gallery-title {
        font-size: 1rem;
    }


    /****** About page media queries ******/
    .about-container {
        width: 80%;
    }
}

@media (min-width: 2000px) {
    #gallery-nav-container {
        padding-bottom: 1rem;
    }

    .about-container-left p {
        width: 80%;
    }

}
